/*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */
/* 
Colors
========================================================================== 

Use color variables where ever possible.

*/
/* 
Fonts
========================================================================== 

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/
/* 
Breakpoints
========================================================================== 

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/
/* ==========================================================================
       Various
       ========================================================================== */
@import url("../bower_components/suit-form/form.css");
/*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */
/* 
Hyperlinks and Buttons
=====================================================================

## Links

```
<p>
  <a href="#">Normal Link</a>
</p>
```
*/
a {
  font-style: normal;
  color: #1b1b1b;
  text-decoration: none;
  border-bottom: 1px solid transparent; }

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #1b1b1b; }

a.Button, button, a.Button-primary {
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: 0.3em;
  border: 1px solid transparent; }

a.opps {
  color: green;
  font-family: 'DIN Next-500', 'DIN Next', Helvetica, Arial, sans-serif; }

h1 a, h2 a, h3 a {
  color: #010101;
  text-decoration: none;
  border-bottom: none; }

p a, li a {
  color: #010101;
  font-family: 'DIN Next-500', 'DIN Next', Helvetica, Arial, sans-serif; }

p a:hover, li a:hover {
  border-bottom: 1px solid black; }

/* 
## External Links 
```
<p>
  <a href="#" rel="external">External link</a>
</p>
```
*/
a[rel="external"] {
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCw0IEw4LDQgTDYsNiBMMiw2IEwyLDE0IEwxMCwxNCBMMTAsMTAuNSBMMTIsOC41IEwxMiwxNiBMMCwxNiBaIE0wLDQiIGZpbGw9InJnYmEoMCwwLDAsMC4zMykiPjwvcGF0aD48cGF0aCBkPSJNNiwwIEwxNiwwIEwxNiwxMCBMMTQsMTAgTDE0LDMuNSBMNy41LDEwIEw2LDguNSBMMTIuNSwyIEw2LDIgWiBNNiwwIiBmaWxsPSJyZ2JhKDAsMCwwLDAuMzMpIj48L3BhdGg+PC9zdmc+) no-repeat right 40%;
  background-size: 12px;
  padding-right: 1em; }

/* Tag */
a[rel="tag"] {
  font-size: 0.823em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  text-transform: lowercase;
  border: 0; }

/* 
Forms
========================================================================== 

## Input Fields
```
<p>
	<label for="text">Text Input <abbr title="Required">*</abbr></label>
	<input id="text" class="input" type="text" required/>
	<small class="caption">Note about this field</small>
</p>
<p>
	<label for="email">Email Address <abbr title="Required">*</abbr></label>
	<input id="email" class="input" type="email" placeholder="you@example.com" required/>
	<small class="caption">Note about this field</small>
</p>
<p>
	<label for="password">Password <abbr title="Required">*</abbr></label>
	<input id="password" class="input" type="password" required/>
	<small class="caption">Note about this field</small>
</p>
<p>
	<label for="url">Web Address <abbr title="Required">*</abbr></label>
	<input id="url" class="input" type="url" placeholder="http://example.com" required/>
	<small class="caption">Note about this field</small>
</p>
```
*/
input {
  padding: 0.35em 0.5em;
  border-radius: 0.25em;
  border: 1px solid rgba(151, 151, 151, 0.1); }

/* 
## Text Area 
  
```
<p>
	<label for="textarea">Textarea <abbr title="Required">*</abbr></label>
	<textarea id="textarea" class="input" rows="8" cols="32" required></textarea>
	<small class="caption">Note about this field</small>
</p>
``` 
*/
textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  border-radius: 0.25em;
  border: 1px solid rgba(151, 151, 151, 0.1); }

/* 
## Buttons 

Add class `.Button` to links to style them as buttons.

```
<button>Button</button>
<input type="button" value="Input button"/>
<input type="submit" value="Submit button"/>

```
*/
input[type='submit'], input[type='button'], button, .Button, .Button-primary {
  margin: 0em 1em 0 0;
  width: 100%;
  padding: 0.5em 1em 0.4em 1em;
  border: 1px solid rgba(151, 151, 151, 0.1);
  background: none;
  font-family: 'DIN Next', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  text-transform: none;
  width: auto;
  height: 100%;
  line-height: 1em;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 0.25em;
  box-shadow: none; }
  input[type='submit']:hover, input[type='button']:hover, button:hover, .Button:hover, .Button-primary:hover {
    background-color: rgba(151, 151, 151, 0.1); }
  input[type='submit']:active, input[type='submit'].State-active, input[type='button']:active, input[type='button'].State-active, button:active, button.State-active, .Button:active, .Button.State-active, .Button-primary:active, .Button-primary.State-active {
    border: 1px solid #fef800; }

/* 
## Primary Button
```  
<button class="Button-primary">Primary button</button>
<input type="button" class="Button-primary" value="Primary input button"/>
<input type="submit" class="Button-primary" value="Primary submit button"/>
```
*/
.Button-primary, input[type='button'].Button-primary, input[type='submit'].Button-primary {
  background: rgba(151, 151, 151, 0.1);
  font-family: 'DIN Next-500', 'DIN Next', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }
  .Button-primary:hover, .Button-primary:focus, input[type='button'].Button-primary:hover, input[type='button'].Button-primary:focus, input[type='submit'].Button-primary:hover, input[type='submit'].Button-primary:focus {
    background-color: rgba(254, 248, 0, 0.4) !important; }
  .Button-primary:active, input[type='button'].Button-primary:active, input[type='submit'].Button-primary:active {
    background-color: #ffffff; }

input[type='submit'], input[type='submit'].Button-primary {
  background: #fef800; }

/* 
##Button Group  
```
<div class="Button-group">
	<input type="submit" class="Button-primary" value="Post comment"/>
	<input type="button" value="Preview"/>
	<a href="#">Cancel</a>
</div>
```  
*/
.Button-group {
  padding: 0.75em 0;
  overflow: hidden; }

/* 
##Combined inputs/buttons 
  
```
<div class="Button-group Button-combined">
	<input type="button" value="First button"/>
	<input type="button" value="Middle button"/>
	<input type="button" value="Last button"/>
</div>
```  
*/
.Button-combined {
  display: block;
  padding-bottom: 1px; }
  .Button-combined input, .Button-combined button, .Button-combined [class$='button'] {
    margin: 0;
    border: 1px solid rgba(151, 151, 151, 0.1);
    border-left-width: 0;
    border-radius: 0;
    float: left; }
  .Button-combined input:first-of-type, .Button-combined button:first-of-type, .Button-combined [class$='button']:first-of-type {
    border-left-width: 1px;
    border-radius: 0.25em 0 0 0.25em; }
  .Button-combined input:last-of-type, .Button-combined button:last-of-type, .Button-combined [class$='button']:last-of-type {
    border-radius: 0 0.25em 0.25em 0; }

/* 
## Combined search field 

```
<p>
  <input type="search" class="input" placeholder="Search" /><input type="submit" value="Go" />
</p>
```
*/
input[type='search'] + .Button, input[type='search'] + button, input[type='search'] + input[type='submit'] {
  box-shadow: none;
  background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDE2IDE0LjYgTCAxMC45IDkuNSBDIDExLjYgOC41IDEyIDcuMyAxMiA2IEMgMTIgMi43IDkuMyAwIDYgMCBDIDIuNyAwIDAgMi43IDAgNiBDIDAgOS4zIDIuNyAxMiA2IDEyIEMgNy4zIDEyIDguNSAxMS42IDkuNSAxMC45IEwgMTQuNiAxNiBMIDE2IDE0LjYgWk0gMiA2IEMgMiAzLjggMy44IDIgNiAyIEMgOC4yIDIgMTAgMy44IDEwIDYgQyAxMCA4LjIgOC4yIDEwIDYgMTAgQyAzLjggMTAgMiA4LjIgMiA2IFoiIGZpbGw9IiM5OTkiLz48L3N2Zz4=) no-repeat 50% 55%;
  border-color: transparent;
  overflow: hidden;
  width: 2em;
  text-indent: 2em;
  margin-left: -2em; }

/*
## Input Groups

Combine Inputs and Icons or buttons
*/
.Input-group {
  position: relative; }

.Input-group input {
  padding-left: 2em; }

.Input-group-icon {
  position: absolute;
  left: 0.5em;
  top: 0.3em;
  width: 2em; }

/* 
## Single checkboxes 
```
<p>
	<label for="checkbox" class="check"><input id="checkbox" type="checkbox" class="checkbox" required/>Single checkbox</label>
	<small class="caption">Note about this field</small>
<p>
```
*/
label.check {
  font-weight: 400;
  margin: 0;
  padding: 0;
  float: none; }

label.check input {
  width: 1.25em; }

label.check + .caption {
  margin-top: 0;
  padding-left: 2em; }

/* Labels */
label, fieldset.options legend {
  margin: 0.375em 0;
  font-size: 0.823em;
  font-weight: 400;
  line-height: 1.5;
  width: auto;
  display: block;
  -webkit-font-smoothing: antialiased; }

fieldset.options legend {
  margin: 0;
  padding: 0.375em 0; }

/* 
## Options list 
```
<fieldset class="options">
	<legend>Checkbox <abbr title="Required">*</abbr></legend>
	<ul>
		<li>
			<label for="checkbox1" class="check"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"/>Choice A</label>
			<small class="caption">Note about these option</small>
		</li>
		<li>
			<label for="checkbox2" class="check"><input id="checkbox2" name="checkbox" type="checkbox"/>Choice B</label>
			<small class="caption">Note about these option</small>
		</li>
		<li>
			<label for="checkbox3" class="check"><input id="checkbox3" name="checkbox" type="checkbox"/>Choice C</label>
			<small class="caption">Note about these option</small>
		</li>
	</ul>
</fieldset>

<fieldset class="options">
	<legend>Radio <abbr title="Required">*</abbr></legend>
	<ul>
		<li>
			<label for="radio1" class="check"><input id="radio1" name="radio" type="radio" class="radio" checked="checked"/>Option 1</label>
		</li>
		<li>
			<label for="radio2" class="check"><input id="radio2" name="radio" type="radio" class="radio"/>Option 2</label>
		</li>
		<li>
			<label for="radio3" class="check"><input id="radio3" name="radio" type="radio" class="radio"/>Option 3</label>
		</li>
	</ul>
	<small class="caption">Note about these options</small>
</fieldset>
```  
*/
/* 
## Fieldsets, Required Text and Captions

```
<fieldset>
	<legend>Legend</legend>
	<p><small class="caption">Required fields are marked <abbr title="Required">*</abbr></small></p>
</fieldset>
```
*/
fieldset.options {
  clear: left;
  padding: 0 1em; }

fieldset.options ul {
  margin: 0;
  padding: 0; }

fieldset.options li {
  list-style: none;
  margin-left: 0; }

abbr[title='Required'] {
  color: #a00;
  font-size: 1.25em;
  font-weight: 400;
  border: 0; }

label.check + .caption, .input + .caption {
  display: block; }
