@import url("../../suit-utils-display/display.css");
@import url("../../suit-utils-text/text.css");
@import url("../../suit-utils-dimension/dimension.css");
@import url("../../suit-utils-layout/layout.css");
@import url("../../suit-arrange/arrange.css");
/* ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */
/* 
Colors
========================================================================== 

Use color variables where ever possible.

*/
/* 
Fonts
========================================================================== 

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/
/* 
Breakpoints
========================================================================== 

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/
/* ==========================================================================
       Various
       ========================================================================== */
/*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014 
============================================================ */
/*
@import url("../../suit-utils-display/display.css");
@import url("../../suit-utils-text/text.css");
*/
/*
Dimensions Utilities
==========================================

u-sizeFit - Make an element shrink wrap its content by floating left.
u-sizeFitAlt - Make an element shrink wrap its content by floating right.
u-sizeFill - Make an element fill the remaining space.
u-sizeFillAlt - An alternative method to make an element fill the remaining space.
u-sizeFull - Make an element the width of its parent.
u-sizeXofY (numerous) - Specify the proportional width of an object.

X must be an integer less than Y.
Y can be any of the following numbers: 2, 3, 4, 5, 6, 8, 10, 12.

## Plugins

Utilities that can be limited to specific Media Query breakpoints.

v1-u-sizeXofY - To use at the first Media Query breakpoint.
v2-u-sizeXofY - To use at the second Media Query breakpoint.
v3-u-sizeXofY - To use at the third Media Query breakpoint.
etc.

*/
/*
@import url("../../suit-utils-dimension/dimension.css");
*/
/* 
Layout Helpers
=================================================

u-cf - Contain floats (micro clearfix).
u-nbfc - Create a new block formatting context.
u-nbfcAlt - Create a new block formatting context (alternative technique).
u-pullLeft - Float left.
u-pullRight - Float right.
u-objLeft - The same as u-pullLeft but with 10px of opposite margin, and child image normalization.
u-objRight - The same as u-pullRight but with 10px of opposite margin, and child image normalization.
u-alignTop - Vertically align to top.
u-alignMiddle - Vertically align to middle.
u-alignBaseline -Vertically align to baseline.
u-alignBottom - Vertically align to bottom.

*/
/*@import url("../../suit-utils-layout/layout.css");*/
/*
SUIT arrange
===============================================
A SUIT component for horizontally and vertically arranging a single row of cells. Includes modifier classes for equal-width cells and gutter-separated cells. Makes use of CSS table layout.

Arrange - The core component class
Arrange-sizeFit - The child class for cells to snap to fit their content
Arrange-sizeFill - The child class for cells to expand to fill the remaining space
Arrange--middle - The modifier class for middle-aligned cells
Arrange--bottom - The modifier class for bottom-aligned cells
Arrange--equal - The modifier class for equal-width cells

*/
/*@import url("../../suit-arrange/arrange.css");*/
/* ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */
/* 
Colors
========================================================================== 

Use color variables where ever possible.

*/
/* 
Fonts
========================================================================== 

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/
/* 
Breakpoints
========================================================================== 

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/
/* ==========================================================================
       Various
       ========================================================================== */
/* colors, modular scale, grid settings... */
.u-marginBottom--large {
  margin-bottom: 3em; }

.u-marginBottom--medium {
  margin-bottom: 1.5em; }

.u-marginBottom--small {
  margin-bottom: 0.75em; }

.u-marginBottom--none {
  margin-bottom: 0; }

.u-marginTop--large {
  margin-top: 3em; }

.u-marginTop--medium {
  margin-top: 1.5em; }

.u-marginTop--small {
  margin-top: 0.75em; }

.u-marginTop--none {
  margin-top: 0; }

.u-marginLeft--large {
  margin-left: 3em; }

.u-marginLeft--medium {
  margin-left: 1.5em; }

.u-marginLeft--small {
  margin-left: 0.75em; }

.u-marginLeft--none {
  margin-left: 0; }

.u-marginRight--large {
  margin-right: 3em; }

.u-marginRight--medium {
  margin-right: 1.5em; }

.u-marginRight--small {
  margin-right: 0.75em; }

.u-marginRight--none {
  margin-right: 0; }

/* transition classes */
.transitionAll-1s {
  transition: all 1s; }

.transitionAll-2s {
  transition: all 2s; }

.transitionAll-3s {
  transition: all 3s; }
