/*! Decoded Forms and Lists */

/* ==========================================================================
   Forms
   ========================================================================== */

input {
    padding: 0.35em 0.5em;
    border-radius: $borderRadius;
    border: 1px solid $decodedLightGrey;
}

textarea {
    width: 100%;
    padding: 0.5em 0.5em;
    border-radius: $borderRadius;
    border: 1px solid $decodedLightGrey;
}

input[type="submit"], input[type="button"], button, .button, .primary-button {
    margin: 0em 1em 0 0;
    width: 100%;
    padding: 0.5em 1em 0.4em 1em;
    border: none;
    background: none;
    font-family: $defaultStack;
    font-weight: normal;
    text-transform: none;
    width: auto;
    height: 100%;
    line-height: 1em;
    text-align: center;
    letter-spacing: 1px;
    border-radius: $borderRadius;
	
	&:hover{
    	background-color: $decodedLightGrey ;
    }
}


/* Button > Primary */

.primary-button,  input[type="button"].primary-button, input[type="submit"].primary-button {
	background: $decodedLightGrey;
	font-family: $boldStack;
    font-weight: normal;
    text-transform: uppercase;
	
	&:hover,
	&:focus {
		background-color: rgba($decodedYellow, 0.4) !important;
	}
	&:active {
		background-color: $white;
		border: 2px solid $decodedYellow;
	}
}

input[type="submit"], input[type="submit"].primary-button{
	 background: $decodedYellow;
}


/* Combined inputs/buttons */

.combined {
	display: block;
	padding-bottom: 1px;
	
	input,
	[class$="button"] {
		margin: 0;
		border: 1px solid $decodedLightGrey;
		border-left-width: 0;
		border-radius: 0;
		float: left;
	}
	input:first-of-type,
	[class$="button"]:first-of-type {
		border-left-width: 1px;
		border-radius: $borderRadius 0 0 $borderRadius;
	}
	input:last-of-type,
	[class$="button"]:last-of-type {
		border-radius: 0 $borderRadius $borderRadius 0;
	}
}
/* Combined search field */

input[type="search"] + .button,
input[type="search"] + input[type="submit"] {
	box-shadow: none;
	background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDE2IDE0LjYgTCAxMC45IDkuNSBDIDExLjYgOC41IDEyIDcuMyAxMiA2IEMgMTIgMi43IDkuMyAwIDYgMCBDIDIuNyAwIDAgMi43IDAgNiBDIDAgOS4zIDIuNyAxMiA2IDEyIEMgNy4zIDEyIDguNSAxMS42IDkuNSAxMC45IEwgMTQuNiAxNiBMIDE2IDE0LjYgWk0gMiA2IEMgMiAzLjggMy44IDIgNiAyIEMgOC4yIDIgMTAgMy44IDEwIDYgQyAxMCA4LjIgOC4yIDEwIDYgMTAgQyAzLjggMTAgMiA4LjIgMiA2IFoiIGZpbGw9IiM5OTkiLz48L3N2Zz4=) no-repeat 50% 55%;
	border-color: transparent;
	overflow: hidden;
	width: 2em;
	text-indent: 2em;
	margin-left: -2em;
}

/* Button Group */

.button-group {
	padding: 0.75em 0;
	overflow: hidden;
}

/* Single checkboxes */

label.check {
	font-weight: 400;
	margin: 0;
	padding: 0;
	float:none;
}
label.check input {
	width: 1.25em;
}
label.check + .caption {
	margin-top: 0;
	padding-left: 2em;
}


/* Labels */

label,
fieldset.options legend {
	color: #444;
	margin: 0.375em 0; 
	font-size: 1em; 
	font-weight: 700;
	line-height: 1.5; 
	width: auto;
	display: block;
   -webkit-font-smoothing: antialiased;
}
fieldset.options legend {
	margin: 0;
	padding: 0.375em 0;
}

/* Options list */

fieldset.options {
	clear: left;
	padding: 0 1em;
}
fieldset.options ul {
	margin: 0;
	padding: 0;
}
fieldset.options li {
	list-style: none;
	margin-left: 0;
}

/* Required text */

abbr[title="Required"] {
	color: #a00;
	font-size: 1.25em;
	font-weight: 400;
	border: 0;
}

/* Field caption */

label.check + .caption,
.input + .caption {
	display: block;
}

/* ==========================================================================
   Lists
   ========================================================================== */
dl {
	
	}
dt {
    font-family: $boldStack;
	padding: 0;
    color: rgb(160,160,160);
    //text-transform: lowercase;
}
dd {
	font-family: $defaultStack;
	text-indent: 0;
	margin: 0;
}