    /*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */

/* 
Mixins
========================================================================== 

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/

$break-small: 320px;
$break-medium: 480px;
$break-large: 960px;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}