/*
Decoded Top Navigation Bar with Logo
========================================================================== 
The Decoded Topbar sticks to the top of the page
```
<header class="navbar navbar-default navbar-fixed-top global-nav" role="navigation" id="nav">
      <a href="https://decoded.co/" class="logo"><img src="/images/decoded-logo.png" alt="Decoded" height="30"></a>
      <button class='navbar-toggle' data-target="#navbar-collapse" data-toggle="collapse" ><i class="fa fa-bars"></i></button>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <div class="navbar-left">
          <ul class="nav navbar-nav">
            <li class="navbar-tab"><a href="/"><i class="fa fa-bar-chart-o"></i> Home</a></li>
            <li class="navbar-tab"><a href="/#/morning"><i class="fa fa-sun-o"></i> Morning</a></li>
            <li class="navbar-tab"><a href="/#/lantern"><i class="fa fa-heart"></i> Lantern</a></li>
            <li class="form-group"><input id="account-chooser" type="text" class="form-control" placeholder="Search all accounts..."></li>
          </ul>          
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li class="navbar-tab"><a href=""><i class="fa fa-arrow-up"></i> Log In</a></li>
          </ul>
        </div>
      </div>
    </header>
```
*/
.global-nav {
	border-bottom: none;
	//box-shadow: 0 0 5px rgba(0,0,0,0.1);

	li.navbar-tab{
		overflow: hidden;
	
		&:before {
			content: ' ';
			display: block;
			background-color: lighten($decodedYellow, 30%);
			width: 100%;
			height: 0;
			z-index: 100;
			position: absolute;
			bottom: 0;
			transition: height 1s;
		}
		&:hover:before {
			height: 4em;
		}
		a, a:hover {
			position: relative;
			z-index: 2000;
			text-transform: none;
			color: $textColor;
			background: none;
		}

		@media (max-width: $grid-float-breakpoint) {
			width: 50%;
			display: inline-block;
			margin-right: -3px;
		}
	}
	.logo {
		float: right;
		margin-right: $spacingSize/2;
	}

	.navbar-collapse {
		border: none;
		@media (max-width: $grid-float-breakpoint) {
			clear: both;
		}
	}
	.form-group {
		margin: 0.4em 0 0 $spacingSize/2;

		@media (max-width: $grid-float-breakpoint) {
			&{
				padding-right: $spacingSize/2;
			}
		}
	}
}

.global-nav-light {
	border-bottom: $accent-stroke-width solid $decodedYellow;
	background-color: #FFF;
	//box-shadow: none;
}