    /* ============================================================
    	Decoded Styleguide // by Jonas Haefele 2014
       ============================================================ */

/* 
	General Navigation Styles
============================================================ */
[class$='nav'] {
	font-size: 0; /* whitespace in inline-block lists http://www.broken-links.com/2013/03/25/removing-the-whitespace-from-inline-block-elements/ */
	li {
		font-size: $base-font-size; /* see above */
		font-size: 1rem;			/* see above */
		margin: 0;
		padding: 0;
		display: inline;
	}
}
[class$='nav'] a {
	border: 0;
	border-right: 1px solid $decodedLightGrey;
	font-family: $defaultStack;
	padding: 0.5em 0.75em; 
	display: inline-block;
}
[class$='nav'] li:last-child a {
	border-right: 0;
	}
	[class$='nav'] li a:hover {
		background-color: $decodedLightGrey;
		border-bottom: none;
	}
	[class$='nav'] li a.is-active {
		background-color: $decodedYellow;
		color: $textColor;
		font-family: $boldStack;
		border-bottom: none;
	}

/* ## Vertical */
.vertical-nav li {
	margin: 0;
	display: block;
}
.vertical-nav a {
	border: 0;
	border-bottom: 1px solid $decodedLightGrey;
	display: block;
	
	&:hover{
		border: 0;
		border-bottom: 1px solid $decodedLightGrey !important;
	}

	&.is-active {
		background-color: $decodedLightGrey;
		position: relative;
		border-bottom: 1px solid transparent !important;
	}
	&.is-active:after {
		content: '';
		font-size: 1em;
		border: solid;
		border-color: transparent $decodedYellow;
		border-width: 1.25em 0 1.25em 1.25em;
		display: block;
		position:absolute;
		right: -1.25em;
		top: 0;
	}
}
/* ## Tabbed */
.tabbed-nav {
	border-top: 0;
	border-bottom: 1px solid $decodedLightGrey;
	padding: 0;
	margin-left: 1em;
	a.is-active {
		background-color: #fff !important;
		margin-bottom: -1px;
		border: 1px solid $decodedLightGrey;
		border-bottom-color: #fff;
		border-radius: 0.25em 0.25em 0 0; 
	}
	ul{
		margin: 0;
	}
}

/* ## Pagination */
.page-nav{
	li{
		a {
			padding: 0.5em 1em; 
			border-bottom: 1px solid transparent !important;
			&.is-active {
			}
			&[rel='prev'],
			&[rel='next'] {
				border: 0;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}	
}

/* ## Breadcrumb */
.breadcrumb-nav {
	color: #ccc;
	font-size: 0.75em; 
	line-height: 1.3334; 
	margin-top: 0;
	border: 0 none;
}
.breadcrumb-nav a,
.breadcrumb-nav strong {
	padding: 0 0.5em; 
	border: 0;
	border-bottom: 1px solid transparent;
}
.breadcrumb-nav a:first-child {
	padding-left: 0;
}

/*
	Decoded Top Navigation Bar with Logo
============================================================ */
.navbar{
	background-color: $decodedYellow;
	padding: 0 130px 0 20px;
	border-bottom: 1px solid darken($decodedYellow, 5%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 50px;
	z-index: 1030;
	@include media($phablet) {
		@include outer-container();
	}
	
	&:after {
	    content: url('../assets/decoded-logo-navbar.png');
	    display: block;
	    position: absolute;
	    top: 10px;
	    right: 20px;
	}
	
	.navbar-left{
		float: left;
		padding: 0;
		@include media($phablet) {
			@include span-columns(4);
		}
	}
	nav li a {
		padding: 0.8em 0.75em .8em 0.75em;
	}
	.navbar-right{
		float: right;
		padding: 1.15em 0 0 0;
		
		@include media($phablet) {
			@include span-columns(4);
			text-align: right;
		}
		
		h1{
			@extend .gamma;
			margin: 0;
		}
	}
	
}
