    /*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */

/* 
Colors
========================================================================== 

Use color variables where ever possible.

*/

$headingColor: #010101;
$textColor: lighten($headingColor, 10%);
$borderColor: rgba(100,100,100,.1);

$decodedYellow: rgb(254,248,0);
$decodedYellowRGBA: rgba(254,248,0,.8);
$decodedGrey: rgb(150,150,150);
$darkYellow: rgba(201,181,0,1);
$decodedLightGrey: lighten($borderColor,20%);
$decodedLightGreyOpq: rgb(245,245,245);

$white: #ffffff;

$linkColor: rgb(0,0,200);
$decodedBrown: rgb(40,36,25);

/* 
Fonts
========================================================================== 

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/

$defaultStack: 'DIN Next',Helvetica,Arial, sans-serif;
$boldStack: 'DIN Next-500','DIN Next',Helvetica,Arial, sans-serif;
$lineHeight: (1.45)em;
$baseSize: 0.5em;
$spacingSize: 1.5em;
$headingPadding: 1px;

/* 
Grid Settings for Neat
========================================================================== 

[Examples of how to use the Grid System](http://neat.bourbon.io/examples/)

Use `@include outer-container;` on elements that should contain grid items

Then use `@include span-columns(12);` to declare how many grid columns an item should span.
*/
   
$max-width: 960px;
$grid-columns: 12;

$base-font-size: 16px;

/* 
Breakpoints
========================================================================== 

Available prefefined breakpoints are `$mobile`, `$phablet`, `$tablet` and `$tabletOnly`
`$mobile`, `$phablet`, `$tablet` target any screensize smaller than the corresponding device, while `$tabletOnly` excludes small screen sizes.

Adapt sizes of elements on the grid with changing screen sizes:


<pre><code>//Default
@include span-columns(7);     

//Setting for phones  
@include media($mobile) {
		@include span-columns(4);   
	}</code></pre>

*/

$mobile:		new-breakpoint(max-width 480px 4);
$phablet:		new-breakpoint(min-width 480px max-width 780px 4);
$tablet: 		new-breakpoint(min-width 780px 12);
$tabletOnly: 	new-breakpoint(min-width 480px max-width 960px 12);
$desktop:	 	new-breakpoint(min-width 960px 12);


    /* ==========================================================================
       Various
       ========================================================================== */

$borderRadius: 0.25em;

$alpha:		1.97;
$beta:		1.618;	
$gamma:		1.217;
$delta:		1;
$epsilon:	0.752;
$zeta:		0.618;

$mega:		2.618;
$giga:		3.187;

 