    /* ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */

/*
Colors
==========================================================================

Use color variables where ever possible.

*/

$headingColor: #010101;
$textColor: lighten($headingColor, 10%);
$borderColor: rgba(151,151,151,.4);

$decodedYellow: rgb(254,248,0);
$decodedYellowRGBA: rgba(254,248,0,.8);
$decodedGrey: rgb(150,150,150);
$darkYellow: rgba(201,181,0,1);
$decodedLightGrey: rgb(245,245,245);

$playtoRed: #e0534c;
$playtoGreen: #ccc212;

$white: #ffffff;

$linkColor: rgb(0,0,0);
$decodedBrown: rgb(40,36,25);

/*
Secondary Colors
----------------*/

$green: rgb(46,204,133);
$blue:  rgb(52,141,204);
$red:   rgb(231,76,60);
$orange:rgb(243,146,15);
$pink:  rgb(249,58,142);
$purple:rgb(140,86,182);

$secondary-colors: $green, $blue, $red, $orange, $pink, $purple;

$green-light: rgb(192,227,139);
$blue-light:  rgb(127,195,225);
$red-light:   rgb(253,158,127);
$orange-light:rgb(255,202,128);
$pink-light:  rgb(252,131,179);
$purple-light:rgb(171,127,193);

$secondary-colors-light: $green-light, $blue-light, $red-light, $orange-light, $pink-light, $purple-light;

/*
Bootstrap Color Variables
--------------------------
*/

/* Grey Values for Bootstrap */
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              $decodedGrey;
$gray:                   $borderColor;
$gray-light:             $decodedLightGrey;
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

/* Map Colors for Bootstrap */

$brand-primary: $playtoRed;
$brand-contrast: $playtoGreen;
$brand-success: $green;
$brand-warning: $orange;
$brand-danger:  $red;
$brand-info:    $blue;

/*
Fonts
==========================================================================

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/
$font-path: '../fonts' !default;
$defaultStack: 'Dosis', sans-serif;
$boldStack: 'Dosis', sans-serif;
$lineHeight: (1.45)em;
$baseSize: 0.5em;
$spacingSize: 1.5em;
$headingPadding: 1px;
$base-font-size: 16px;

/*
Breakpoints
==========================================================================

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/

$break-small: 320px;
$break-medium: 480px;
$break-large: 780px;
$break-xlarge: 960px;


@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == xlarge-screens {
    @media only screen and (min-width: $break-xlarge) { @content; }
  }
}

/* ==========================================================================
   Various
   ========================================================================== */

$borderRadius: 0;
$accent-stroke-width: 2px;

$alpha:		1.97;
$beta:		1.618;
$gamma:		1.217;
$delta:		1;
$epsilon:	0.9;
$zeta:		0.618;

$mega:		2.618;
$giga:		3.187;


