    /*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014
============================================================ */

/* 
Colors
========================================================================== 

Use color variables where ever possible.

*/

$headingColor: #010101;
$textColor: lighten($headingColor, 10%);
$borderColor: rgba(100,100,100,.1);

$decodedYellow: rgb(254,248,0);
$decodedYellowRGBA: rgba(254,248,0,.8);
$decodedGrey: rgb(150,150,150);
$darkYellow: rgba(201,181,0,1);
$decodedLightGrey: lighten($borderColor,20%);
$decodedLightGreyOpq: rgb(245,245,245);

$white: #ffffff;

$linkColor: rgb(0,0,200);
$decodedBrown: rgb(40,36,25);

/* 
Fonts
========================================================================== 

Use `$defaultStack` for normal font-weight and `$boldStack`for bold font-weights.

*/

$defaultStack: 'DIN Next',Helvetica,Arial, sans-serif;
$boldStack: 'DIN Next-500','DIN Next',Helvetica,Arial, sans-serif;
$lineHeight: (1.45)em;
$baseSize: 0.5em;
$spacingSize: 1.5em;
$headingPadding: 1px;
$base-font-size: 16px;

/* 
Breakpoints
========================================================================== 

## @respond-to to screen size

```
  @include respond-to(small-screens) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
```
*/

$break-small: 320px;
$break-medium: 480px;
$break-large: 780px;
$break-xlarge: 960px;


@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == xlarge-screens {
    @media only screen and (min-width: $break-xlarge) { @content; }
  }
}

    /* ==========================================================================
       Various
       ========================================================================== */

$borderRadius: 0.25em;

$alpha:		1.97;
$beta:		1.618;	
$gamma:		1.217;
$delta:		1;
$epsilon:	0.9;
$zeta:		0.618;

$mega:		2.618;
$giga:		3.187;

 