@charset "UTF-8";

@import 'normalize';
@import 'sass-variables';
@import 'din-family';
@import 'patterns';

/* ============================================================
	Site specific styles
============================================================ */
body {
	background-color: $white;
}
header[role="banner"] {
	color: $headingColor;
	background-color: $decodedYellow;
	box-shadow: inset 0 -2px rgba(0,0,0,0.25), inset 0 2px rgba(0,0,0,0.1);
	margin: 0;
	padding-top: 4em; /* 64px */
	}
	header[role="banner"] .headline,
	header[role="banner"] .lede {
		color: #fff;
		text-shadow: 0 -2px 0 rgba(0,0,0,0.25);
	}
main[role="main"] {
	background-color: $white;
	padding: 1em 0;
}
footer[role="contentinfo"] {
	box-shadow: inset 0 2px $decodedLightGrey;
	margin-top: 0;
}