@import 'sass-variables';

    /*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014 
============================================================ */

//@import "../../normalize-css/normalize.css";
@import "../../suit-utils-display/display.css";
@import "../../suit-utils-text/text.css";

/*
Dimensions Utilities
==========================================

u-sizeFit - Make an element shrink wrap its content by floating left.
u-sizeFitAlt - Make an element shrink wrap its content by floating right.
u-sizeFill - Make an element fill the remaining space.
u-sizeFillAlt - An alternative method to make an element fill the remaining space.
u-sizeFull - Make an element the width of its parent.
u-sizeXofY (numerous) - Specify the proportional width of an object.

X must be an integer less than Y.
Y can be any of the following numbers: 2, 3, 4, 5, 6, 8, 10, 12.

## Plugins

Utilities that can be limited to specific Media Query breakpoints.

v1-u-sizeXofY - To use at the first Media Query breakpoint.
v2-u-sizeXofY - To use at the second Media Query breakpoint.
v3-u-sizeXofY - To use at the third Media Query breakpoint.
etc.

*/

@import "../../suit-utils-dimension/dimension.css";

// move into .css file to enable media queries for dimension utils

//@import "../../suit-utils-dimension/dimension-v1.css" (max-width: 480px);
//@import "../../suit-utils-dimension/dimension-v2.css" (min-width: 480px) and (max-width: 780px);
//@import "../../suit-utils-dimension/dimension-v3.css" (min-width: 780px);
/* 
Layout Helpers
=================================================

u-cf - Contain floats (micro clearfix).
u-nbfc - Create a new block formatting context.
u-nbfcAlt - Create a new block formatting context (alternative technique).
u-pullLeft - Float left.
u-pullRight - Float right.
u-objLeft - The same as u-pullLeft but with 10px of opposite margin, and child image normalization.
u-objRight - The same as u-pullRight but with 10px of opposite margin, and child image normalization.
u-alignTop - Vertically align to top.
u-alignMiddle - Vertically align to middle.
u-alignBaseline -Vertically align to baseline.
u-alignBottom - Vertically align to bottom.

*/

@import "../../suit-utils-layout/layout.css";

/*
SUIT arrange
===============================================
A SUIT component for horizontally and vertically arranging a single row of cells. Includes modifier classes for equal-width cells and gutter-separated cells. Makes use of CSS table layout.

Arrange - The core component class
Arrange-sizeFit - The child class for cells to snap to fit their content
Arrange-sizeFill - The child class for cells to expand to fill the remaining space
Arrange--middle - The modifier class for middle-aligned cells
Arrange--bottom - The modifier class for bottom-aligned cells
Arrange--equal - The modifier class for equal-width cells

*/

@import "../../suit-arrange/arrange.css";

@import 'sass-variables';	  /* colors, modular scale, grid settings... */


.u-marginBottom--large{
	margin-bottom: $spacingSize*2;
}

.u-marginBottom--medium{
	margin-bottom: $spacingSize;
}

.u-marginBottom--small{
	margin-bottom: $spacingSize/2;
}

.u-marginBottom--none{
	margin-bottom: 0;
}

.u-marginTop--large{
	margin-top: $spacingSize*2;
}

.u-marginTop--medium{
	margin-top: $spacingSize;
}

.u-marginTop--small{
	margin-top: $spacingSize/2;
}

.u-marginTop--none{
	margin-top: 0;
}

.u-marginLeft--large{
	margin-left: $spacingSize*2;
}

.u-marginLeft--medium{
	margin-left: $spacingSize;
}

.u-marginLeft--small{
	margin-left: $spacingSize/2;
}

.u-marginLeft--none{
	margin-left: 0;
}

.u-marginRight--large{
	margin-right: $spacingSize*2;
}

.u-marginRight--medium{
	margin-right: $spacingSize;
}

.u-marginRight--small{
	margin-right: $spacingSize/2;
}

.u-marginRight--none{
	margin-right: 0;
}

/* transition classes */

.transitionAll-1s {
    transition: all 1s;
}

.transitionAll-2s {
    transition: all 2s;
}

.transitionAll-3s {
    transition: all 3s;
}