    /*! ===========================================================
Pollen - Decoded Styles // by Jonas Haefele 2014 
============================================================ */

@import 'sass-variables';	  /* colors, modular scale, grid settings... */

.u-marginBottom--large{
	margin-bottom: $spacingSize*2;
}

.u-marginBottom--medium{
	margin-bottom: $spacingSize;
}

.u-marginBottom--small{
	margin-bottom: $spacingSize/2;
}

.u-marginTop--large{
	margin-top: $spacingSize*2;
}

.u-marginTop--medium{
	margin-top: $spacingSize;
}

.u-marginTop--small{
	margin-top: $spacingSize/2;
}